.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .overlay img {
    width: 50px; /* Adjust the width of the loading GIF */
    height: 50px; /* Adjust the height of the loading GIF */
    display: block; /* Ensures the image is treated as a block element */
    margin: 0 auto; /* Centers the image horizontally within its container */
  }
  
  .overlay p {
    margin-top: 10px; /* Adjust the spacing between the image and the text */
    font-size: 16px; /* Adjust the font size of the text */
  }
  