#funfacts{
    background-image: url(./images/fun-facts-bg.jpg);
}
#text2, #text3{
    text-shadow: 0px 1px 21px rgba(0,0,0,1);
}
nav{
    background: rgba(2, 0, 36, 0.247);
}
#text-content{
    position: absolute;
    top: 250px;
}
#bttt:hover{
    border-bottom: #6acf06 1px solid;
    color: #6acf06;
}
#bttt{
    color: white;
}
#button{
    background-color:green;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border: none;
    display: inline-block;
    text-decoration: none;
}
@media (max-width: 576px) {
    /* Small screens */
    #text-content{
        margin-top: -40%;
        
    }
    #button{
        background-color:green;
        color: #ffffff;
        font-size: 1.0rem;
        text-transform: uppercase;
        font-weight: 700;
        padding:6px 10px;
        /* border-radius: 30px; */
        border: none;
        display: inline-block;
        text-decoration: none;
    }
    #text1{
       display: none;
    }
    #text2{
       display: none;
        
        
    }
    #bttt{
        border: 1px solid green;
        border-radius:5px;
        color: #000;
        padding-left: 10px;
    }
    #bttt:hover{
        background-color: green;
        color: #ffffff;
        
    }
  }

  @media (min-width: 577px) and (max-width: 768px) {
    /* Medium screens */
    #text-content{
        margin-top: -40%;
        
    }
    #button{
        background-color:green;
        color: #fff;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 12px 30px;
        /* border-radius: 30px; */
        border: none;
        display: inline-block;
        text-decoration: none;
    }
    #bttt{
        border: 1px solid green;
        border-radius:5px;
        color: #000;
        padding-left: 10px;
    }
    #bttt:hover{
        background-color: green;
        color: #ffffff;
        
    }
    #bttt{

        color: #000;
    }
    #text1{
       display: none;
    }
    #text2{
        display: none;
        
    }
  }
  #text1{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2.5px;
    color:#6acf06;
}

#text2{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2.5px;
    color:#fff;
    overflow:hidden;
    
}
#btn2{
    background-color:green;
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    /* border-radius: 30px; */
    border: none;
    display: inline-block; 
}
#btn2:hover{
    background-color: #fff;
    color: #6acf06;
}
#counts{
    color: #6acf06;
}
#card-section, #review{
    background-color: #f7f7f7;
}
/* #aims{
    padding: 5rem;
} */
#review{
    padding: 1rem 2rem;
}
.form-control{
    border: #6acf06 1px solid;
}
#info{
    color: #6acf06;
}
#our-team{
    background-color: #f7f7f7;
    padding: 100px;
}
#our-team1{
    background-color: #f7f7f7;
}
#review1{
    color:#6acf06;
}
#member{
    color:#6acf06;
}

#primary{
    color:#6acf06;
}

.bg-secondary{
margin-top: 300px;

}
#summary{
    color:#6acf06;
    font-size: 3.0rem;
}
#primary1{
    font-size: 2.5rem;
}